p {font-family: Arial CE; color:black; text-align:justify; font-size:20px;line-height:2;}
    h1 {font-size:x-large; font-style:normal; font-weight:bold; text-align:center;}
    h2 {text-transform:uppercase; color:red; font-weight:bold; text-align:center;}
    .konec {text-transform:uppercase; color:black; font-weight:bold; text-align:center;}
    .zanr {font-size:x-large; font-style:normal; font-weight:bold; text-align:left;}
    .info {font-style: italic;}